services:
  keycloak:
    container_name: keycloak-smart-fhir # If you change this, you must also change it in deploy.sh
    build:
      #context: https://github.com/zedwerks/keycloak-smart-fhir.git
      context: ../../.
      dockerfile: Dockerfile
    environment:
      # Environment variables for Keycloak
      - KC_BOOTSTRAP_ADMIN_PASSWORD=${KC_BOOTSTRAP_ADMIN_PASSWORD}
      - KC_BOOTSTRAP_ADMIN_USERNAME=${KC_BOOTSTRAP_ADMIN_USERNAME}

      # Eplicitly set the HTTP and disable all strictness checks (for localhost development)
      - KC_HTTP_ENABLED=true
      - KC_HOSTNAME_STRICT=false
      - KC_HOSTNAME_STRICT_HTTPS=false
      - KC_HTTPS_REQUIRED=false
      - KC_PROXY_HEADERS=xforwarded

      # DO NOT configure provy behaviour for localhost setup.
      - KC_PROXY=none

      - KEYCLOAK_PORT=8080
      - KC_HOSTNAME=localhost
      - KC_HOSTNAME_URL=http://localhost:8080
      - KC_HOSTNAME_ADMIN_URL=http://localhost:8080

      # Logging
      - KC_LOG_LEVEL=${KC_LOG_LEVEL}
      - KC_LOG_CONSOLE_COLOR=false

      # CORS settings
      - KC_HTTP_CORS=true
      - KC_HTTP_CORS_MAX_AGE=3600

      # Realm Settings
      - KEYCLOAK_TARGET_REALM=smart
      - KEYCLOAK_TARGET_REALM_DISPLAY_NAME="SMART on FHIR"

      # Terraform Client Settings
      - KEYCLOAK_TERRAFORM_CLIENT_ID=${KEYCLOAK_TERRAFORM_CLIENT_ID}
      - KEYCLOAK_TERRAFORM_CLIENT_SECRET=${KEYCLOAK_TERRAFORM_CLIENT_SECRET}

    ports:
      - 8080:8080
    command:
      - start-dev
      - --import-realm
      - --verbose