services:
  keycloak:
    container_name: keycloak-smart-fhir # If you change this, you must also change it in deploy.sh
    build:
      #context: https://github.com/zedwerks/keycloak-smart-fhir.git
      context: ../../.
      dockerfile: Dockerfile
    environment:
      # Environment variables for Keycloak
        KC_BOOTSTRAP_ADMIN_PASSWORD: ${KC_BOOTSTRAP_ADMIN_PASSWORD}
        KC_BOOTSTRAP_ADMIN_USERNAME: ${KC_BOOTSTRAP_ADMIN_USERNAME}

      # Going to make use of built-in self-generating keys for Keycloak for non-production
        KC_HTTPS_REQUIRED: "true"

      # Logging
        KC_LOG_LEVEL: "INFO"

      # CORS settings
        KC_HTTP_CORS: "true"
        KC_HTTP_CORS_MAX_AGE: 3600

      # Realm Settings
        KEYCLOAK_TARGET_REALM: "smart"

      # Terraform Client Settings
        KEYCLOAK_TERRAFORM_CLIENT_ID: ${KEYCLOAK_TERRAFORM_CLIENT_ID}
        KEYCLOAK_TERRAFORM_CLIENT_SECRET: ${KEYCLOAK_TERRAFORM_CLIENT_SECRET}

      # Certificates for non-production environment to enable HTTPS (simpler)
      # a script runs to create these certs and are copied in by the keycloak Dockerfile
        KC_HTTPS_CERTIFICATE_FILE: /opt/keycloak/certs/keycloak.crt
        KC_HTTPS_CERTIFICATE_KEY_FILE: /opt/keycloak/certs/keycloak.key
    
    ports:
      - "8443:8443"
    command:
      - start-dev
      - --import-realm
      - --verbose
      - --https-port=8443
    networks:
      - fhir-network
    labels:
      - "protocol=https"
      # Tell Docker Desktop what URL to use for the hyperlink
      - "docker.desktop.extension.http.url=https://localhost:8443"

      # OCIs for nicer display (optional)
      - "org.opencontainers.image.title=Keycloak"
      - "org.opencontainers.image.description=Keycloak Local Dev with HTTPS"
  hapi-fhir:
    # Access this from keycloak in Docker, above as http://hapi-fhir:8080/fhir
    image: hapiproject/hapi:latest
    container_name: hapi-fhir
    environment:
      HAPI_FHIR_VERSION: "R4"
      HAPI_FHIR_SERVER_ENABLE_BETTER_ID_MODE: false
      HAPI_FHIR_SERVER_ID_STRATEGY: "UUID"
      HAPI_FHIR_REST_SERVER_DEFAULT_ENCODING: "JSON"
      HAPI_FHIR_REST_SERVER_DEFAULT_PREFER_RETURN: "representation"
    ports:
      - "9001:8080"
    networks:
      - fhir-network
networks:
  fhir-network:
    name: fhir-network
    driver: bridge



